/* Javascript */

/* https://tobiasahlin.com/moving-letters/#7 */
.ml7 {
  position: relative;
  font-weight: 900;
  font-size: 3.7em;
}
.ml7 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
  overflow-wrap: normal;
}
.ml7 .word {
  transform-origin: 0 100%;
  display: inline-block;
  line-height: 1em;
}

@media only screen and (max-width: 700px) {
  .ml7 .word {
    transform-origin: 0;
    display: contents;
    line-height: 1em;
  }
}

/********************** Homepage **********************/

html, body{
  margin: 0;
  padding: 0;
}

#container{
  display: flex;
  flex-direction: column;
}

footer{
  bottom: 0px;
  height: 5%;
  background-color: #19381f;
}

footer p{
  padding-top: 1.5%;
  text-align: center;
  font-family: 'Grandstander', cursive;
  color: white;
}

footer a{
  text-decoration: none;
  color: honeydew;
}

.logo a{
  text-decoration: none;
  color: white;
}

#welcomeContainer{
  background-image: url(mainImages/homeLeft.png), url(mainImages/homeRight.png);
  background-repeat: no-repeat, no-repeat;
  background-attachment: scroll, scroll;
  background-position: left center, right center;
  background-size: 20% 100%, 20% 100%;
}

#welcome{
  padding-top: 10%;
  padding-bottom: 10%;
  padding-left: 10%;
  padding-right: 10%;
  border-bottom: 1px solid  #214625;
  color: black;
}

#welcome h1{
  font-family: 'Grandstander', cursive;
  font-size: 40px;
  text-align: center;
}

#welcome h3{
  font-size: 20px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

#page{
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
}

#page{
  font-family: 'Open Sans', sans-serif;
}

#submissions{
  padding-left: 10%;
  padding-right: 10%;
  font-family: 'Open Sans', sans-serif;
}

#submissions a{
  text-decoration: none;
  color: #19381f;
}

#submissions a:hover{
  text-decoration: none;
  color: #366F34;
}

#SubVerUpTitle{
  font-family: 'Grandstander', cursive;
  font-size: 30px;
  text-align: center;
}

#submitASpot h2{
  background-image: url(mainImages/submitSpot.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: scroll;
  background-size: 50% 100%;
}

#verifyASpot h2{
  background-image: url(mainImages/verifySpot.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: scroll;
  background-size: 50% 100%;
}

#updateASpot h2{
  background-image: url(mainImages/updateSpot.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: scroll;
  background-size: 50% 100%;
}

/********************** About **********************/

#aboutSkateImage{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  border-radius: 50%;
}

#skateBackground{
  background-image: url(mainImages/responsiveBGFull.png);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: 100% 100%;
}

#aboutPage a{
  text-decoration: none;
  color: #2C5B2D;
}

#aboutPage h1, h2{
  font-family: 'Grandstander', cursive;
  font-size: 26px;
}

#aboutPage h1{
  font-size: 35px;
}

/********************** Navigation **********************/
.logo{
  background-color: #214625;
  font-family: 'Grandstander', cursive;
  color: white;
  font-size: 26px;
  padding-bottom: 1px;
  padding-top: 1px;
  padding-left: 26px;
}

/* Add a black background color to the top navigation */
.nav {
    background-color: #214625;
    overflow: hidden;
    font-family: 'Overpass', sans-serif;
  }

.states{
  float: right;
}

.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  color: darkgreen;
  text-decoration: none;
  font-size: 17px;
  border: none;
  outline: none;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #2C5B2D;
  min-width: 80px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

 /* Style the links inside the navigation bar */
.nav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.nav a:hover {
  background-color: #366F34;
  color: white;
  border-radius: 50%;
}

/* Add an active class to highlight the current page */
.nav a.active {
  background-color: #53A548;
  color: white;
  border-radius: 50%;
}

/* Hide the link that should open and close the topnav on small screens */
.nav .icon {
  display: none;
}




/********************** Selection Page **********************/

.pageSidebar{
  float: right;
  width: 150px;
  padding-bottom: 10px;
  border-bottom: 1px solid #214625;
  background-image: url(mainImages/responsiveBG.png);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 100% 100%;
}

.pageSidebar a{
  text-decoration: none;
  color: #19381F;
}

.pageSidebar a:hover{
  text-decoration: none;
  color: #366F34;
}

#skateSelection{
  margin: 20px;
  width: 250px; 
  height: 250px;
  text-align: center;
  padding-top: 100px;
  background-image: url('statePages/NoImage.png');
  background-position: center center;
  background-size: 100% 100%;
  border-radius: 25%;
}

#parkSelection{
  margin: 20px;
  width: 250px; 
  height: 250px;
  text-align: center;
  padding-top: 100px;
  background-image: url('statePages/NoImage.png');
  background-position: center center;
  background-size: 100% 100%;
  border-radius: 25%;
}

#rinkSelection{
  margin: 20px;
  width:250px; 
  height:250px;
  text-align: center;
  padding-top: 100px;
  background-image: url('statePages/NoImage.png');
  background-position: center center;
  background-size: 100% 100%;
  border-radius: 25%;
}

#storeSelection{
  margin: 20px;
  width:250px; 
  height:250px;
  text-align: center;
  padding-top: 100px;
  background-image: url('statePages/NoImage.png');
  background-position: center center;
  background-size: 100% 100%;
  border-radius: 25%;
}

#selectRow{
  display: flex;
}

#selectRow p{
  font-family: 'Grandstander', cursive;
}

#skateSelection:hover{
  border: 1px solid #53A548;
}

#parkSelection:hover{
  border: 1px solid #53A548;
}

#rinkSelection:hover{
  border: 1px solid #53A548;
}

#storeSelection:hover{
  border: 1px solid #53A548;
}

#selectPage a{
  text-decoration: none;
  color: black;
  font-size: 20px;
}

/********************** All Skatespots **********************/

.skatePage{
  font-family: 'Open Sans', sans-serif;
  padding-left: 10%;
  padding-right: 10%;
}

#pageHeading{
  border-bottom: 2px dotted #214625;
}

#backButton{
  text-decoration: none;
  color: #214625;
}

#backButton:hover{
  text-decoration: none;
  color: #214625;
}

#nothingSubmitted{
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

#nothingSubmitted a{
  text-decoration: none;
  color: #366F34;
}

#nothingSubmitted a:hover{
  color: #53A548;
}

/* https://www.w3schools.com/css/tryit.asp?filename=trycss_image_gallery_responsive */
div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #53A548;
}

div.gallery img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

div.desc {
  padding: 2%;
  text-align: center;
}

div.name{
  padding: 2%;
  font-size: 20px;
}

div.address div.city{
  padding: 2%;
  font-size: 15px;
}

* {
  box-sizing: border-box;
}

.spot {
  padding-right: 2%;
  padding-bottom: 1%;
  padding-top: 1%;
  float: left;
  width: 24.99999%;
}

.desc .name{
  font-family: 'Grandstander', cursive;
} 

/********************** Skatespot Singular **********************/
.spotPage{
  font-family: 'Open Sans', sans-serif;
  padding-left: 10%;
  padding-right: 10%;
}

.spotPage img{
  max-height: 10%;
}

#spotMainImage{
  width: 100%;
}

.spotDetails{
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  border: 2px solid rgb(243, 243, 243);
}

#spotFeatures{
  background-color: #78AE78;
  border-radius: 25px;
  border: 2px solid  #53A548;
  padding-left: 26px;
  max-width: 100%;
}

#spotTitle{
  font-size: 40px;
}

#spotDesc{
  border-bottom: 2px dotted #214625;
}

#verification{
  height: 30px;
}

#spotVerify{
  font-size: 15px;
}

#spotVerify a{
  text-decoration: none;
  color: #214625;
}

#structureLink a{
  text-decoration: none;
  color:  #19381F;
}

/*** form boxes ***/

#formBoxes{
  display: flex;
}

#spotUpdate{
  width: 200px;
  border: 1px dotted #214625;
  text-align: center;
}

#spotUpdate:hover{
  background-color: #78AE78;
}

#spotVerifier{
  width: 200px;
  border: 1px dotted #214625;
  text-align: center;
}

#spotVerifier:hover{
  background-color: #78AE78;
}

#spotUpdateLink{
  text-decoration: none;
}

#spotVerifyLink{
  text-decoration: none;
}

#spotUpdate p{
  text-decoration: none;
  color: #214625;
}

#spotVerifier p{
  text-decoration: none;
  color: #214625;
}

#spotUpdate img{
  width: 50%;
}

#spotVerifier img{
  width: 50%;
}

/*  image gallery  */
.imageGal{
  box-sizing: border-box;
}

.imageGal {
  position: relative;
}

.imageGal img{
  width: 100%;
}

/* Hide the images by default */
.mySlides {
  display: none;
}


/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

/************* Screen width changes ************/

@media only screen and (max-width: 950px) {
  .spot {
    width: 49.99999%;
    margin: 6px 0;
  }

  #aboutSkateImage{
    width: 40%;
  }

  #selectRow{
    display: block;
  }

  .states a, .dropdown .dropbtn {
    display: none;
  }
  .nav a.icon {
    float: right;
    display: block;
  }

  .states.responsive {
    padding-top: 60px;
    position: relative;
  }

  .states.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .states.responsive a {
    float: none;
    display: block;
    text-align: right;
  }
  .states.responsive .dropdown {float: none;}
  .states.responsive .dropdown-content {position: relative;}
  .states.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: right;
  }
  .states.responsive .dropdown-content {
    display: none;
  }
}

@media only screen and (max-width: 700px) {
  .spot {
    width: 49.99999%;
    margin: 6px 0;
  }

  #aboutSkateImage{
    width: 60%;
  }

  #welcomeContainer{
    background-image: url(mainImages/responsiveBGFull.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: 50% 15%;
    background-size: 100% 55%;
  }

  #submitASpot h2{
    background-size: 100% 100%;
  }

  #verifyASpot h2{
    background-size: 100% 100%;
  }

  #updateASpot h2{
    background-size: 100% 100%;
  }
}

@media only screen and (max-width: 580px) {
  .pageSidebar{
    display: none;
  }

  #skateSelection, #parkSelection, #rinkSelection, #storeSelection{
    margin-left: auto;
    margin-right: auto;
  }

  #formBoxes{
    display: inline-block;
  }
}

@media only screen and (max-width: 500px) {
  .spot {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}