/* Homepage */

/* Add a black background color to the top navigation */
.nav {
    background-color: honeydew;
    overflow: hidden;
  }
  
 /* Style the links inside the navigation bar */
.nav a {
    float: left;
    display: block;
    color: darkgreen;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .nav a:hover {
    background-color: lightgreen;
    color: black;
  }
  
  /* Add an active class to highlight the current page */
  .nav a.active {
    background-color: forestgreen;
    color: white;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .nav .icon {
    display: none;
  }



/* skate spots */
/* https://www.w3schools.com/css/tryit.asp?filename=trycss_image_gallery_responsive */
div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.spot {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .spot {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .spot {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}