/* Javascript */

/* https://tobiasahlin.com/moving-letters/#7 */
.ml7 {
  position: relative;
  font-weight: 900;
  font-size: 3.7em;
}
.ml7 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
  overflow-wrap: normal;
}
.ml7 .letter {
  transform-origin: 0 100%;
  display: inline-block;
  line-height: 1em;
}

/********************** Homepage **********************/

#container{
  display: flex;
  flex-direction: column;
}

footer{
  bottom: 0px;
  height: 5%;
  background-color: #19381f;
}

footer p{
  padding-top: 1.5%;
  text-align: center;
  font-family: 'Grandstander', cursive;
  color: white;
}

footer a{
  text-decoration: none;
  color: honeydew;
}

#welcome{
  padding-top: 10%;
  padding-bottom: 10%;
  border-bottom: 1px solid  #214625;
  color: black;
}

#welcome h1{
  font-family: 'Grandstander', cursive;
  font-size: 40px;
  text-align: center;
}

#welcome h3{
  font-size: 20px;
  text-align: center;
}

#page{
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
}

#page{
  font-family: 'Open Sans', sans-serif;
}

#submissions a{
  text-decoration: none;
  color: #19381f;
}

#SubVerUpTitle{
  font-family: 'Grandstander', cursive;
  font-size: 30px;
}

/********************** About **********************/

#aboutSkateImage{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

#aboutPage a{
  text-decoration: none;
  color: #2C5B2D;
}

#aboutPage h1, h2{
  font-family: 'Grandstander', cursive;
  font-size: 26px;
}

#aboutPage h1{
  font-size: 35px;
}

/********************** Navigation **********************/
.logo{
  background-color: #214625;
  font-family: 'Grandstander', cursive;
  color: white;
  font-size: 26px;
  padding-bottom: 1px;
  padding-top: 1px;
  padding-left: 26px;
}

/* Add a black background color to the top navigation */
.nav {
    background-color: #214625;
    overflow: hidden;
    font-family: 'Overpass', sans-serif;
  }

.states{
  float: right;
}

.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  color: darkgreen;
  text-decoration: none;
  font-size: 17px;
  border: none;
  outline: none;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #2C5B2D;
  min-width: 80px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

 /* Style the links inside the navigation bar */
.nav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.nav a:hover {
  background-color: #366F34;
  color: white;
}

/* Add an active class to highlight the current page */
.nav a.active {
  background-color: #53A548;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.nav .icon {
  display: none;
}


/********************** Selection Page **********************/

.pageSidebar{
  float: right;
  width: 150px;
  padding-bottom: 10px;
  border-bottom: 1px solid #214625;
}

.pageSidebar a{
  text-decoration: none;
  color: #19381F;
}

.pageSidebar a:hover{
  text-decoration: none;
  color: #366F34;
}

#skateSelection{
  margin: 20px;
  width: 250px; 
  height: 250px;
  text-align: center;
  padding-top: 100px;
  background-image: url('statePages/NoImage.png');
  background-position: center center;
  background-size: 100% 100%;
}

#parkSelection{
  margin: 20px;
  width: 250px; 
  height: 250px;
  text-align: center;
  padding-top: 100px;
  background-image: url('statePages/NoImage.png');
  background-position: center center;
  background-size: 100% 100%;
}

#rinkSelection{
  margin: 20px;
  width:250px; 
  height:250px;
  text-align: center;
  padding-top: 100px;
  background-image: url('statePages/NoImage.png');
  background-position: center center;
  background-size: 100% 100%;
}

#storeSelection{
  margin: 20px;
  width:250px; 
  height:250px;
  text-align: center;
  padding-top: 100px;
  background-image: url('statePages/NoImage.png');
  background-position: center center;
  background-size: 100% 100%;
}

#selectRow{
  display: flex;
}

#skateSelection:hover{
  border: 1px solid #777;
}

#parkSelection:hover{
  border: 1px solid #777;
}

#rinkSelection:hover{
  border: 1px solid #777;
}

#storeSelection:hover{
  border: 1px solid #777;
}

#selectPage a{
  text-decoration: none;
  color: black;
  font-size: 20px;
}

/********************** All Skatespots **********************/

.skatePage{
  font-family: 'Open Sans', sans-serif;
  padding-left: 10%;
  padding-right: 10%;
}

#pageHeading{
  border-bottom: 2px dotted #214625;
}

#backButton{
  text-decoration: none;
  color: #214625;
  border-radius: 25px;
  border: 1px solid #78AE78;
  padding-left: 5px;
  padding-right: 5px;
}

#backButton:hover{
  text-decoration: none;
  color: #214625;
  border-radius: 25px;
  border: 1px solid #214625;
  background-color: lightgrey;
  padding-left: 5px;
  padding-right: 5px;
}

/* https://www.w3schools.com/css/tryit.asp?filename=trycss_image_gallery_responsive */
div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 2%;
  text-align: center;
}

div.name{
  padding: 2%;
  font-size: 20px;
}

div.address div.city{
  padding: 2%;
  font-size: 15px;
}

* {
  box-sizing: border-box;
}

.spot {
  padding-right: 2%;
  padding-bottom: 1%;
  padding-top: 1%;
  float: left;
  width: 24.99999%;
}

/********************** Skatespot Singular **********************/
.spotPage{
  font-family: 'Open Sans', sans-serif;
  padding-left: 10%;
  padding-right: 10%;
}

.spotPage img{
  max-height: 10%;
}

#spotMainImage{
  width: 100%;
}

.spotDetails{
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  border: 2px solid rgb(243, 243, 243);
}

#spotFeatures{
  background-color: #78AE78;
  border-radius: 25px;
  border: 2px solid  #53A548;
  padding-left: 26px;
  max-width: 350px;
}

#spotTitle{
  font-size: 40px;
}

#spotDesc{
  border-bottom: 2px dotted #214625;
}

#verification{
  height: 30px;
}

#spotVerify{
  font-size: 15px;
}

#spotVerify a{
  text-decoration: none;
  color: #214625;
}

#structureLink a{
  text-decoration: none;
  color:  #19381F;
}

/*** form boxes ***/

#formBoxes{
  display: flex;
}

#spotUpdate{
  width: 200px;
  border: 1px dotted #214625;
  text-align: center;
}

#spotUpdate:hover{
  background-color: #78AE78;
}

#spotVerifier{
  width: 200px;
  border: 1px dotted #214625;
  text-align: center;
}

#spotVerifier:hover{
  background-color: #78AE78;
}

#spotUpdateLink{
  text-decoration: none;
}

#spotVerifyLink{
  text-decoration: none;
}

#spotUpdate p{
  text-decoration: none;
  color: #214625;
}

#spotVerifier p{
  text-decoration: none;
  color: #214625;
}

#spotUpdate img{
  width: 50%;
}

#spotVerifier img{
  width: 50%;
}

/************* Screen width changes ************/

@media only screen and (max-width: 950px) {
  .spot {
    width: 49.99999%;
    margin: 6px 0;
  }

  #selectRow{
    display: block;
  }
}

@media only screen and (max-width: 700px) {
  .spot {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 580px) {
  .pageSidebar{
    display: none;
  }

  #formBoxes{
    display: inline-block;
  }
  
}

@media only screen and (max-width: 500px) {
  .spot {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}